.App{
    display: flex;
   flex-wrap: wrap;
  
}

.titleSection {
    width: 100%;
   
}
#listedContainer{
    margin: 2%;
    display: flex;
    width: 25%;
    flex-grow: 1;
    flex-direction: column;

}



@media (max-width: 994px) {
  
#listedContainer{
    width: 50%;
  
}
}
